/*  This is the Nord color scheme.
 *  cf. https://www.nordtheme.com/ */

/*   "Polar night"  */
/* nord0:  #2e3440; */
/* nord1:  #3b4252; */
/* nord2:  #434c5e; */
/* nord3:  #4c566a; */

/*    "Snow Storm"  */
/* nord4:  #d8dee9; */
/* nord5:  #e5e9f0; */
/* nord6:  #eceff4; */

/*    "Frost"       */
/* nord7:  #8fbcbb; */
/* nord8:  #88c0d0; */
/* nord9:  #81c1c1; */
/* nord10: #5e81ac; */

/*    "Aurora"      */
/* nord11: #bf616a; */
/* nord12: #d08770; */
/* nord13: #ebcb8b; */
/* nord14: #a3be8c; */
/* nord15: #b48ead; */

/*  General style. */

body {
  background-color: #3b4252;
  color: #d8dee9;
  font-family: sans-serif;
  font-size: large;
  text-align: center;
}

img {
  height: 250px;
  object-fit: cover;
  transition-property: height object-fit width;
  transition-duration: 0.3s;
  transition-delay: 0s;
  width: 250px;
}

img:hover {
  height: 500px;
  width: 500px;
  object-fit: contain;
}

ul {
  list-style-type: none;
}

a {
  color: #8fbcbb;
}

a:hover {
  color: #a3be8c;
}

::selection {
  background-color: #434c5e;
}

hr {
  border-bottom: 1px dotted #88c0d0;
  border-left: none;
  border-right: none;
  border-top: none;
}

em {
  font-variant: small-caps;
}

/*  Nav bar style. */

nav>ul {
  display: flex;
  justify-content: space-evenly;
}


#sitename {
  color: #88c0d0;
}

#sitename:hover {
  color: #a3be8c;
}

/*  Forms style. */
fieldset {
  background-color: #2e3440;
}

button,
input {
  background-color: #3b4252;
  border: 1px solid #4c566a;
  color: #88c0d0;
}

fieldset {
  border: 1px solid #4c566a;
  display: inline-block;
  text-align: right;
}

/*  Footer style. */

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

footer {
  flex-shrink: 0;
}

main {
  flex: 1 0 auto;
}

/*  Gallery style.  */

#gallery>ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}

#gallery>ul>li {
  padding: 1%;
}

/*    Home page style.  */
#latest {
  display: flex;
  flex-direction: column;
}

#latest>ul {
}

#latest>ul>li {
}
